{% extends "base.html" %} <!-- copy and use the exact same template in base.html -->
{% block title %}test{% endblock %}

{% block content %}
{#<div class="navbar" id="myNavbar">#}
{#    <a id="home" href="/"><i class="bi bi-house"></i></a>#}
{#    <a id="test" href="/test"><i class="bi bi-hammer"></i></a>#}
{#    <a id="login" href="/logout">Logout</a>#}
{#    <a id="login" href="/login">Login</a>#}
{#    <a id="signUp" href="/sign-up">Sign Up</a>#}
{#</div>#}
    <h1>This is a test page</h1>
{% endblock %}